
<script type="text/javascript">
//<![CDATA[
    $.validator.setDefaults({
        submitHandler: function () {
            document.myForm.submit();

        }
    });

    $(document).ready(function () {


        $("#myForm").validate({
            rules: {
                Email: { required: true, email: true }
            },
            messages: {
                Email: {required: "Molimo, unestite email adresu", email: "Neispravna email adresa"}
            }

        });
    });

    function SendMail() {
         $("#myForm").validate();
            var v = $("#myForm").valid();

            if (v) {

                var email = Email.GetValue();
                var workOrders = workorders.GetValue();
                var offers = off.GetValue();
                if (workOrders == null && offers == null) {
                    return false;
                }
                var UrlAction = '@Url.Content("~/Mobile/SendMail")';
                $.post(UrlAction, { email: email, workOrders: workOrders, offers: offers }, function (result) {
                    if (result == true) {
                        $('#mailOk').fadeIn('slow');
                        $('#mailErr').hide();
                    }
                    else {
                        $('#mailErr').fadeIn('slow');
                        $('#mailOk').hide();
                        var exc = '@ViewData["Exception"]'
                        $('#err').text(exc);
                    }
                });
            }
    }
</script>

@{
    string caption = "Mobilna aplikacija";
   
}


@using (Html.BeginForm("CreateAndEdit", "#", FormMethod.Post, new { id = "myForm", name = "myForm" }))
{
 
                                            
    @Html.Hidden("linkName", "MobileAppParent")
    @Html.Hidden("linkId", "")

    

     <div id='large-badges'></div><div id="mailErr" style="display:none" class='notifyBox bad'>
                <h3>Greška prilikom slanja.</h3>
                 <ul>
                 <li> <label id="err"></label> </li>
                 </ul>
                    
                    
            </div>
             <div class="notifyBox " id="mailOk" style="display:none">
            <h3>Poruka je uspješno poslana.</h3>
                    <ul>
                    <li> Zahvaljujemo na upitu </li>
                   
                    </ul>
           </div>
        <div class="clearb"></div>     
    
    
<div class="clearb"></div>
<div class="clearb"></div>

	 <h2 class="pt"><div class="span-22"> @caption </div></h2>
	<div class="clearb"></div>
	<div class="title-rule"></div>

	<table width="100%" cellspacing="0" cellpadding="0" class="newTable">
	<tr><td colspan='5'></td></tr>
	</table>


<div id="DefaultEmements">    
                                            @*//Lijevi div*@
	<div class="span-23" style="position: relative;">
	    <div id="client_section">
		    <div class="span-6 required form-layout-left">
			    <label for="customerid" class="no-pointer">Email adresa:</label>

		    </div>
		    <div class="span-16 form-layout-right">
			    @Html.DevExpress().TextBox(settings => { settings.Name = "Email"; settings.Width = 200; settings.Properties.EnableClientSideAPI = true; settings.ShowModelErrors = false; }).GetHtml()
               
		    </div>
        </div>

             <div class="span-6  form-layout-left">
			    <label for="customerid" class="no-pointer">Radni nalozi:</label>

		    </div>
		    <div class="span-16 form-layout-right">
			    @Html.DevExpress().CheckBox(settings => { settings.Name = "workorders"; settings.Properties.EnableClientSideAPI = true; settings.Width = 200; settings.ShowModelErrors = false; }).GetHtml()
               
		    </div>

             <div class="span-6  form-layout-left">
			    <label for="customerid" class="no-pointer">Ponude:</label>

		    </div>
		    <div class="span-16 form-layout-right">
			    @Html.DevExpress().CheckBox(settings => { settings.Name = "off"; settings.Width = 200; settings.Properties.EnableClientSideAPI = true; settings.ShowModelErrors = false; }).GetHtml()
               
		    </div>

</div>

    
    
                                            @*//Desni div*@
  
    <div class="clearb"></div>
    
	
    </div>
    
<div class="clearb"></div>

    <div class="span-40 append-1">
        <div class="span-10 append-1"></div>
        <div class="span-10 append-1">
                <a href="#" class="button_large launch-invitepop-invoice " onclick="SendMail()">
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pošalji&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
        </div>
        <div class="span-2 append-1"></div>
        <div class="span-10 append-1">
                <a href="@Url.Content("#")" class="button_large2 launch-invitepop-invoice ">
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Odustani&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
        </div>
        <div class="span-8 append-1"></div>
    </div>

    
    }