@model BusinessObjects.Documents.cDocuments_ItemsCol






 @{
     DalEf.MDEntitiesEntities contextEnt = new DalEf.MDEntitiesEntities();
      var grid = Html.DevExpress().GridView(
                    settings =>
                    {
                        settings.Name = "gvDocumentItemsCol";
                        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                        settings.SettingsPager.PageSize = 10;
                        settings.SettingsPager.Summary.Position = DevExpress.Web.ASPxPager.PagerButtonPosition.Right;
                        settings.SettingsPager.Summary.Text = "Stranica {0} od {1} ({2} reda)";
                        settings.SettingsText.EmptyDataRow = "Nema podataka";
                        settings.SettingsLoadingPanel.Text = "Učitavanje";
                        //settings.CommandColumn.SetHeaderTemplateContent(c =>
                        //{
                        //    ViewContext.Writer.Write(
                        //        Html.DevExpress().HyperLink(settingsHy => { settingsHy.Name = "addNevDocumentItem"; settingsHy.Properties.ImageUrl = @Url.Content("~/Content/images/pls_dodaj_16.png"); settingsHy.Properties.ClientSideEvents.Click = "function NoviCLick(s, e) {gvDocumentItemsCol.AddNewRow(); }"; }).GetHtml());
                        //});


                        //var firstCC = new MVCxGridViewCommandColumn();
                        //firstCC.EditButton.Visible = false;
                        //firstCC.DeleteButton.Visible = false;
                        //firstCC.VisibleIndex = 12;
                        //settings.Columns.Add(firstCC);

                        //var firstCC = new MVCxGridViewColumn();
                        //firstCC.VisibleIndex = 0;
                        //settings.Columns.Add(firstCC);
                        //firstCC.SetHeaderTemplateContent(c =>
                        //{
                        //    Html.DevExpress().HyperLink(settingsHy => { settingsHy.Name = "addNevDocumentItem"; settingsHy.Properties.ImageUrl = @Url.Content("~/Content/images/pls_dodaj_16.png"); settingsHy.Properties.ClientSideEvents.Click = "function NoviCLick(s, e) {gvDocumentItemsCol.AddNewRow(); }"; }).GetHtml();
                        //});


                        //var secondCC = new MVCxGridViewCommandColumn();
                        //secondCC.EditButton.Visible = true;
                        //secondCC.DeleteButton.Visible = false;
                        //secondCC.VisibleIndex = 1;
                        //secondCC.Visible = true;
                        //secondCC.ButtonType = System.Web.UI.WebControls.ButtonType.Image;
                        //secondCC.EditButton.Image.Url = @Url.Content("~/Content/images/pls_uredi_16.png");
                        //secondCC.EditButton.Image.ToolTip = "Uredi";
                        //secondCC.UpdateButton.Image.Url = @Url.Content("~/Content/images/pls_snimi_16.png");
                        //secondCC.UpdateButton.Image.ToolTip = "Snimi";
                        //secondCC.CancelButton.Visible = false;
                        //secondCC.UpdateButton.Visible = true;
                        //settings.Columns.Add(secondCC);




                        
                        
                        settings.CallbackRouteValues = new { Controller = ViewData["controllerName"].ToString(), Action = "RefreshDocumentItemsColGridPartial" };
                        settings.SettingsEditing.AddNewRowRouteValues = new { Controller = ViewData["controllerName"].ToString(), Action = "AddNewItem" };
                        settings.SettingsEditing.UpdateRowRouteValues = new { Controller = ViewData["controllerName"].ToString(), Action = "UpdateItem" };
                        settings.SettingsEditing.DeleteRowRouteValues = new { Controller = ViewData["controllerName"].ToString(), Action = "DeleteItem" };
                        settings.SettingsEditing.Mode = GridViewEditingMode.Inline;
                        settings.SettingsBehavior.ConfirmDelete = true;
                        settings.SettingsBehavior.AllowFocusedRow = true;

                        settings.CommandColumn.Width = 35;
                        settings.CommandColumn.Caption = " ";
                        settings.CommandColumn.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
                        settings.CommandColumn.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
                        settings.CommandColumn.Visible = true;
                        settings.CommandColumn.NewButton.Visible = false;
                        settings.CommandColumn.NewButton.Text = "Novi";
                        settings.CommandColumn.DeleteButton.Visible = true;
                        settings.CommandColumn.ButtonType = System.Web.UI.WebControls.ButtonType.Image;
                        //settings.CommandColumn.DeleteButton.Text = "Obriši";
                        settings.CommandColumn.DeleteButton.Image.Url = @Url.Content("~/Content/images/pls_brisi_16.png");
                        settings.CommandColumn.DeleteButton.Image.ToolTip = "Obriši";
                        settings.CommandColumn.DeleteButton.Visible = false;
                        settings.CommandColumn.EditButton.Visible = true;
                        //settings.CommandColumn.EditButton.Text = "Uredi";
                        settings.CommandColumn.EditButton.Image.Url = @Url.Content("~/Content/images/pls_uredi_16.png");
                        settings.CommandColumn.EditButton.Image.ToolTip = "Uredi";
                        //settings.CommandColumn.CancelButton.Text="Odustani";
                        settings.CommandColumn.CancelButton.Image.Url = @Url.Content("~/Content/images/pls_zatvori_16.png");
                        settings.CommandColumn.CancelButton.Image.ToolTip = "Odustani";
                        //settings.CommandColumn.UpdateButton.Text = "Prihvati";
                        settings.CommandColumn.UpdateButton.Image.Url = @Url.Content("~/Content/images/pls_snimi_16.png");
                        settings.CommandColumn.UpdateButton.Image.ToolTip = "Snimi";
                        settings.CommandColumn.ShowSelectCheckbox = false;
                        

                        //var secondCC = new MVCxGridViewCommandColumn();
                        //secondCC.EditButton.Visible = true;
                        //secondCC.DeleteButton.Visible = true;
                        //secondCC.VisibleIndex = 5;
                        //secondCC.Visible = true;
                        //settings.Columns.Add(secondCC);
                        
                        
                        settings.KeyFieldName = "Ordinal";

                        settings.Columns.Add(column =>
                        {
                            column.FieldName = "Ordinal";
                            column.ReadOnly = true;
                            column.Caption = "Rb.";
                            column.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
                            column.ColumnType = MVCxGridViewColumnType.SpinEdit;
                            column.Width = 22;
                            column.CellStyle.Font.Size = 7;
                            
                            var spinEditProperties = column.PropertiesEdit as SpinEditProperties;
                            spinEditProperties.AllowNull = false;
                            spinEditProperties.DecimalPlaces = 0;
                            spinEditProperties.DisplayFormatString = "n0";
                            spinEditProperties.DisplayFormatInEditMode = true;
                            spinEditProperties.MinValue = 0;
                            spinEditProperties.SpinButtons.ShowIncrementButtons = false;
                            spinEditProperties.Width = 22;
                            spinEditProperties.Style.Font.Size = 7;
                        });
                        
                        settings.Columns.Add(column =>
                        {
                            column.FieldName = "ProductId";
                            column.Caption = "Proizvod";
                            column.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
                            column.Width = 220;
                            column.CellStyle.Font.Size = 7;
                            var items = contextEnt.vEntities.Where(p => p.CompanyUsingServiceId == ((BusinessObjects.Security.PTIdentity)Csla.ApplicationContext.User.Identity).CompanyId && p.Inactive == false);

                            column.ColumnType = MVCxGridViewColumnType.ComboBox;

                            var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
                            //var but = new EditButton();
                            //but.Text = "dodaj";
                            
                            comboBoxProperties.Height = 20;
                            comboBoxProperties.DataSource = items;
                            comboBoxProperties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                            comboBoxProperties.FilterMinLength = 0;
                            comboBoxProperties.TextField = "Name";
                            comboBoxProperties.ValueField = "Id";
                            comboBoxProperties.ValueType = typeof(int);
                            comboBoxProperties.Width = 220;
                            comboBoxProperties.ClientSideEvents.ValueChanged = "ProductIdChanged";
                            //comboBoxProperties.ClientSideEvents.ButtonClick = "alert('click')";
                            //comboBoxProperties.Buttons.Add(new EditButton("t"));
                            comboBoxProperties.Style.Font.Size = 7;
                        });

                        settings.Columns.Add(column =>
                        {
                            column.FieldName = "Id";
                            column.ColumnType = MVCxGridViewColumnType.SpinEdit;
                            column.Visible = false;

                            var spinEditProperties = column.PropertiesEdit as SpinEditProperties;
                            spinEditProperties.NullText = "0";
                            
                          
                        });

                            settings.Columns.Add(column =>
                          {
                              column.FieldName = "Price";
                              column.Caption = "Cijena";
                              column.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
                              column.ColumnType = MVCxGridViewColumnType.SpinEdit;
                              column.Width = 80;
                              column.CellStyle.Font.Size = 7;
                              var spinEditProperties = column.PropertiesEdit as SpinEditProperties;

                              spinEditProperties.AllowNull = false;
                              spinEditProperties.DecimalPlaces = 2;
                              spinEditProperties.DisplayFormatString = "n2";
                              spinEditProperties.DisplayFormatInEditMode = false;
                              spinEditProperties.MinValue = 0;
                              spinEditProperties.SpinButtons.ShowIncrementButtons = false;
                              spinEditProperties.Width = 80;
                              spinEditProperties.Style.Font.Size = 7;
                              spinEditProperties.ClientSideEvents.ValueChanged = "JedCijena";
                          });

                            settings.Columns.Add(column =>
                            {
                                column.FieldName = "UnitId";
                                column.Caption = "JM";
                                column.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;

                                column.Width = 40;
                                column.CellStyle.Font.Size = 7;
                                column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
                                var items = contextEnt.MDEntities_Enums_Unit.Where(p => p.CompanyUsingServiceId == ((BusinessObjects.Security.PTIdentity)Csla.ApplicationContext.User.Identity).CompanyId || (p.CompanyUsingServiceId ?? 0) == 0);

                                column.ColumnType = MVCxGridViewColumnType.ComboBox;

                                var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;

                                comboBoxProperties.Height = 20;
                                comboBoxProperties.DataSource = items;
                                comboBoxProperties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                                comboBoxProperties.FilterMinLength = 0;
                                comboBoxProperties.TextField = "Label";
                                comboBoxProperties.ValueField = "Id";
                                comboBoxProperties.ValueType = typeof(int);
                                comboBoxProperties.Width = 40;
                                comboBoxProperties.Style.Font.Size = 7;

                            });


                            settings.Columns.Add(column =>
                            {
                                column.FieldName = "Quantity";
                                column.Caption = "Količina";
                                column.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
                                column.ColumnType = MVCxGridViewColumnType.SpinEdit;
                                column.Width = 55;
                                column.CellStyle.Font.Size = 7;
                                column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
                                var spinEditProperties = column.PropertiesEdit as SpinEditProperties;

                                spinEditProperties.AllowNull = false;
                                spinEditProperties.DecimalPlaces = 2;
                                spinEditProperties.DisplayFormatString = "n2";
                                spinEditProperties.DisplayFormatInEditMode = true;
                                spinEditProperties.MinValue = 1;
                                spinEditProperties.MaxValue = 10000000000;
                                spinEditProperties.SpinButtons.ShowIncrementButtons = false;
                                spinEditProperties.Width = 55;
                                spinEditProperties.ClientSideEvents.ValueChanged = "Ukupno";
                                //spinEditProperties.ClientSideEvents.ValueChanged = "Calc";
                                spinEditProperties.Style.Font.Size = 7;

                            });
                        
                            settings.Columns.Add(column =>
                            {
                                column.FieldName = "RabatePercentage";
                                column.Caption = "Rabat";
                                column.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
                                column.ColumnType = MVCxGridViewColumnType.SpinEdit;
                                column.Width = 50;
                                column.CellStyle.Font.Size = 7;
                                var spinEditProperties = column.PropertiesEdit as SpinEditProperties;

                                spinEditProperties.AllowNull = false;
                                spinEditProperties.DecimalPlaces = 2;
                                spinEditProperties.DisplayFormatString = "{0:N2}%";
                                
                                spinEditProperties.DisplayFormatInEditMode = true;

                                spinEditProperties.MinValue = 0;
                                spinEditProperties.MaxValue = 100;
                                spinEditProperties.SpinButtons.ShowIncrementButtons = false;
                                spinEditProperties.Width = 50;
                                spinEditProperties.ClientSideEvents.ValueChanged = "JedCijena";
                                spinEditProperties.Style.Font.Size = 7;

                            });

                            settings.Columns.Add(column =>
                            {
                                column.FieldName = "RabateAmmount";
                                column.Caption = "Rabat iznos";
                                column.ColumnType = MVCxGridViewColumnType.SpinEdit;
                                column.Visible = false;
                                var spinEditProperties = column.PropertiesEdit as SpinEditProperties;

                                spinEditProperties.AllowNull = false;
                                spinEditProperties.DecimalPlaces = 2;
                                spinEditProperties.DisplayFormatString = "n2";
                                spinEditProperties.DisplayFormatInEditMode = true;
                                spinEditProperties.MinValue = 0;
                                spinEditProperties.SpinButtons.ShowIncrementButtons = false;
                                spinEditProperties.Width = 68;
                                
                            });

                            settings.Columns.Add(column =>
                            {
                                column.FieldName = "TaxRateId";
                                column.Caption = "Porez";
                                column.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
                                column.Width = 45;
                                column.CellStyle.Font.Size = 7;
                                column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
                                var items = contextEnt.MDEntities_Enums_TaxRate.Where(p => p.CompanyUsingServiceId == ((BusinessObjects.Security.PTIdentity)Csla.ApplicationContext.User.Identity).CompanyId || (p.CompanyUsingServiceId ?? 0) == 0);
                                
                                column.ColumnType = MVCxGridViewColumnType.ComboBox;
                                column.PropertiesEdit.DisplayFormatString = "{0:#,##0.00}";
                                var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;

                                comboBoxProperties.Height = 20;
                                comboBoxProperties.DataSource = items;
                                comboBoxProperties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                                comboBoxProperties.FilterMinLength = 0;
                                comboBoxProperties.TextField = "Percentage";
                                comboBoxProperties.ValueField = "Id";
                                comboBoxProperties.ValueType = typeof(int);
                                //comboBoxProperties.Width = 150;
                                comboBoxProperties.DropDownWidth = 650;
                                //comboBoxProperties.DropDownStyle = DropDownStyle.DropDown;
                                //comboBoxProperties.DisplayFormatString = "{0:N2}";
  
                                comboBoxProperties.Columns.Add("Percentage", "Postotak", System.Web.UI.WebControls.Unit.Percentage(20));
                              
                                comboBoxProperties.Columns.Add("Name", "Naziv", System.Web.UI.WebControls.Unit.Percentage(80));
                                comboBoxProperties.TextFormatString = "{0:n2}";
                                comboBoxProperties.DisplayFormatString = "{0:#,##0.00}";
                                comboBoxProperties.DisplayFormatInEditMode = true;
                                comboBoxProperties.ClientSideEvents.ValueChanged = "Calc";
                                comboBoxProperties.Style.Font.Size = 7;
                            });

                            settings.Columns.Add(column =>
                            {
                                column.FieldName = "TaxAmmount";
                                column.Caption = "Iznos poreza";
                                column.ColumnType = MVCxGridViewColumnType.SpinEdit;
                                column.Visible = false;
                                column.CellStyle.Font.Size = 7;
                                column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
                                var spinEditProperties = column.PropertiesEdit as SpinEditProperties;

                                spinEditProperties.AllowNull = false;
                                spinEditProperties.DecimalPlaces = 2;
                                //spinEditProperties.DisplayFormatString = "c";
                                spinEditProperties.DisplayFormatInEditMode = true;
                                spinEditProperties.MinValue = 0;
                                spinEditProperties.SpinButtons.ShowIncrementButtons = false;
                                spinEditProperties.Width = 10;
                            });

                            settings.Columns.Add(column =>
                            {
                                column.FieldName = "Ammount";
                                column.Caption = "Jed. cijena";
                                column.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
                                column.ColumnType = MVCxGridViewColumnType.SpinEdit;
                                column.Width = 85;
                                //column.Visible = false;
                                column.CellStyle.Font.Size = 7;
                                var spinEditProperties = column.PropertiesEdit as SpinEditProperties;

                                spinEditProperties.AllowNull = false;
                                spinEditProperties.DecimalPlaces = 2;
                                spinEditProperties.DisplayFormatString = "N2";
                                spinEditProperties.DisplayFormatInEditMode = false;
                                spinEditProperties.MinValue = 0;
                                spinEditProperties.SpinButtons.ShowIncrementButtons = false;
                                spinEditProperties.Width = 85;
                                spinEditProperties.Style.Font.Size = 7;
                                column.ReadOnly = true;
                            });

                            
                        
                         settings.Columns.Add(column =>
                            {
                                column.FieldName = "WholesaleValue";
                                column.Caption = "Ukupno";
                                column.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
                                column.ColumnType = MVCxGridViewColumnType.SpinEdit;
                                column.Width = 90;
                                column.CellStyle.Font.Size = 7;
                                var spinEditProperties = column.PropertiesEdit as SpinEditProperties;

                                spinEditProperties.AllowNull = false;
                                spinEditProperties.DecimalPlaces = 2;
                                spinEditProperties.DisplayFormatString = "N2";
                                spinEditProperties.DisplayFormatInEditMode = false;
                                spinEditProperties.MinValue = 0;
                                spinEditProperties.SpinButtons.ShowIncrementButtons = false;
                                spinEditProperties.Width = 90;
                                spinEditProperties.Style.Font.Size = 7;
                                column.ReadOnly = true;
                            });


                         settings.Columns.Add(column =>
                         {
                             column.FieldName = "PriceFromPriceList";
                             column.ColumnType = MVCxGridViewColumnType.TextBox;
                             column.Name = "PriceFromPriceList";
                             column.Visible = false;
                         });
                         settings.Columns.Add(column =>
                         {
                             column.FieldName = "PriceListId";
                             column.ColumnType = MVCxGridViewColumnType.TextBox;
                             column.Name = "PriceListId";
                             column.Visible = false;
                         });
                         settings.Settings.ShowPreview = true;
                         settings.PreviewFieldName = "ProductDescription";


                         settings.Columns.Add(column =>
                         {
                             column.Caption = "";
                             column.CellStyle.Font.Size = 8;
                             column.SetDataItemTemplateContent(c =>
                             {
                                 ViewContext.Writer.Write(
                                      "<a href=\"#\" onclick=\"GetDesc(" + DataBinder.Eval(c.DataItem, "Ordinal") + ")\">Napomena</a>"
                                  );
                             });
                             column.Settings.AllowDragDrop = DevExpress.Utils.DefaultBoolean.False;
                             column.Settings.AllowSort = DevExpress.Utils.DefaultBoolean.False;
                             column.Width = 60;
                         });

                         var thirdCC = new MVCxGridViewCommandColumn();
                         thirdCC.EditButton.Visible = false;
                         thirdCC.DeleteButton.Visible = true;
                         thirdCC.ButtonType = System.Web.UI.WebControls.ButtonType.Image;
                         thirdCC.DeleteButton.Image.Url = @Url.Content("~/Content/images/pls_brisi_16.png");
                         thirdCC.DeleteButton.Image.ToolTip = "Obriši";
                         thirdCC.VisibleIndex = 12;
                         thirdCC.CancelButton.Visible = true;
                         thirdCC.CancelButton.Image.Url = @Url.Content("~/Content/images/pls_zatvori_16.png");
                         thirdCC.CancelButton.Image.ToolTip = "Odustani";
                         thirdCC.UpdateButton.Visible = false;
                         thirdCC.Caption = " ";

                         settings.Columns.Add(thirdCC);
                        
                        settings.ClientSideEvents.BeginCallback = "function(s, e) { OnStartCallback(s, e); }";
                        settings.ClientSideEvents.EndCallback = "function(s, e) { OnEndCallback(s, e); }";
                        settings.ClientSideEvents.Init = "function(s, e){ OnInit(s, e) }";
                        
                        //settings.TotalSummary.Add(DevExpress.Data.SummaryItemType.Sum, "WholesaleValue");
                        //settings.TotalSummary.Add(DevExpress.Data.SummaryItemType.Sum, "TaxAmmount");
                        //settings.TotalSummary.Add(DevExpress.Data.SummaryItemType.Custom)
                        //settings.Settings.ShowFooter = true;
                        //settings.Settings.ShowGroupFooter = true;

                        

                    });
   }
                  @grid.Bind(Model).GetHtml()