<script type="text/javascript">
    function Import(e) {
        var Id = parseInt($('#Id').attr('value'));
        var actionURL = '@Url.Content("~/MDSubjects/Company/ImportCompanies")';
        Cursor();
        $('#loader').fadeIn();
        $.post(actionURL, { link: e }, function (result) {
            if (result[0] == 'True') {
                $('#lbl').text('File uspješno importiran - ' + result[1]);
            }
            else {
                $('#lbl').text('Greška - file nije importiran - ' + result[1]);
            }
            CursorOff();
            $('#loader').fadeOut();
            $('#lbl1').html('Datoteka je uspješno importirana');
        });
    }
</script>

@Html.Hidden("linkName", "KlijentiParent")
@Html.Hidden("linkId", "CompanyUpload")

    <div class="notifyBox " id="Uploaded" style="display:none">
            
            <h3><img id="loader" src="@Url.Content("~/Content/images/ajax-loader.gif")" />&nbsp;&nbsp;&nbsp;<label id="lbl1">Molimo pričekajte, import je u tijeku.</label></h3>
                    <ul>
                    <li> <label id="lbl"></label></li>
                    </ul>
                    
            
    </div>

     <div class="span-45 append-1">
        <div class="span-15 append-1">
              <h2>Uvoz klijenata</h2>
        </div>
        <div class="span-10 append-1"></div>
        <div class="span-15 append-1"></div>
              
    </div>
    <div class="clearb"></div>
      <div class="span-45 append-1">
        <div class="span-15 append-1">
              <a href="@Url.Content("~/Content/download/ImportTvrtke.xls")">Preuzmite predložak</a>
        </div>
        <div class="span-10 append-1"></div>
        <div class="span-15 append-1">
            
        </div>
    </div>
    <div class="clearb"></div>
                <div class="clearb"></div>
              <div class="span-45 append-1">
        <div class="span-15 append-1">
               @Html.Partial("UploadPartial", null, new ViewDataDictionary() { { "controllerName", "Company" } })
        </div>
        <div class="span-10 append-1"></div>
        <div class="span-15 append-1">
                
        </div>
    </div>
    <div class="clearb"></div>
    <div class="clearb"></div>
